.yellow-gradient {
  background: linear-gradient(#EDD63A, #EBB62E);
  border-radius: 1rem;
}

.blue-font {
  color: #0A3C9F;
}

.text-drop-shadow {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}